html, body{
    min-height: 80vh;
    margin: 0 auto;
}

body {
    background: #effd5f30;
    font-family: "Courier New";
    line-height: 4vh;
}


nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 7vh;
    background-color: white;
    text-decoration: none;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

footer{
    margin-top: auto;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    background-color: #fda50f50;
    height: 10vh;
}

.footer_element {
    width: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_element h5{
    margin: 1vh;
}

.icon{
    height: 5vh; 
    margin: 0;
    padding: 0;
    margin-top: 1vh;
}

#container {
    margin-top: 7vh;
    display: grid;
    grid-template-columns: 3fr 7fr;
    min-height: 83vh;
}

#picture {
    grid-column: 1 / span 1;
    display: flex;
    align-items: center;
}

#picture img {
    max-width:100%;
    max-height:100%;
    padding: 1vh;
}

#description {
    grid-column: 2 / span 1;
    padding: 2vh;
    display: flex;
    align-items: center;
}